.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.h1 {
    width: 100%;
    text-align: center;
}

.hr {
    margin-bottom: 20px;
}

.new-list-item-input {
    margin-bottom: 30px;
}